@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
    全体設定
========================================= */
body {
	font-size: 14px;
	line-height: 1.4em;
	font-family: "メイリオ", "Meiryo", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#474747;
	text-decoration:none;
}


/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}

/* font */
.main-font {
	color: #FFF;
	font-size: 2em ;
	line-height: 1.2em;
	font-family: 'Paytone One', sans-serif;
	text-shadow: #444 0 0 5px;
	text-align: center;
}

body {
  background-color: #f1f1f1;
}

/* svg */

#welcome_logo {
	position: absolute;
    top: 40%;
    left: 0;
    margin:0 16vw;

}
@media screen and (max-width:800px){
    	#welcome_logo {
    		margin: 0 4vw;
    	}
    }
.cls-1{
	fill: none;
    stroke: #fff; /*線の色を指定する*/
    stroke-dasharray: 2000;/*線の間隔を指定する*/
    stroke-dashoffset: 0;/*線の位置を指定する(IEは効かない属性)*/
    stroke-width: 6;/*線の太さを指定する*/
    -webkit-animation: hello 1.6s ease-in forwards;
    animation: hello 1.6s ease-in forwards;
}
 @-webkit-keyframes hello {
 0% {
 stroke-dashoffset: 2000;
 fill:transparent; /*透過*/
}
 50% {
 fill:transparent; /*透過*/
}
 100% {
 stroke-dashoffset: 0;
 stroke-width: 0;
}
}
@keyframes hello {
 0% {
 stroke-dashoffset: 2000;
 fill:transparent; /*透過*/
}
 50% {
 fill:transparent; /*透過*/
}
 100% {
 stroke-dashoffset: 0;
 stroke-width: 0;
}
}

/* 背景、IE対応 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	video {
		width: 1920px!important;
		height: 1080px!important;
	}
	#welcome_logo {
		width: 60%;
	}
}

/* Edge対応 */
@supports (-ms-ime-align: auto) {
	video {
		width: 1920px!important;
		height: 1080px!important;
	}
	#welcome_logo {
		width: 60%;
	}
}
/* ========================================
    ヘッダー
========================================= */

header {
	width: 100%;
	height: auto;
}


#head-wrapper {
	width: 640px;
	height: 34px;
	margin-top: 26px;
	padding: 8px 20px 8px 10px;
	border-radius: 0 20px 20px 0px;
	background: rgba(35,5,5,0.30);
	transition: 0.2s ease-in-out;
}

@media screen and (max-height:595px){
	#head-wrapper {
		margin-top: 0;
		border-top-right-radius: 0;
		padding: 2px 20px 6px 10px;
	}
}

#head-wrapper ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#head-wrapper ul li i {
	vertical-align: -2px;
	padding-right: 4px;
}

/* ホバー時 */
#head-wrapper ul li span {
	transition: 0.1s ease-out;
}

#head-wrapper ul li span:hover {
	cursor: pointer;
	color: orange;
	border-bottom: 2px solid orange;
}

#home,#prof,#work,#con {
	display: none;
	font-size: 36px;
	position: fixed;
	color: #fff;
	z-index: 99999999;
	&:hover {
		cursor: pointer;
	}
}

#home {
	top: 8px;
	left: 10px;
}

#prof {
	top: 8px;
	left: 60px;
}

#work {
	top: 8px;
	left: 112px;
}

#con {
	top: 8px;
	left: 166px;
}


@media screen and (max-width:980px){
		#home {
		display: block;
	}
		#prof {
		display: block;
	}
		#work {
		display: block;
	}
		#con {
		display: block;
	}
}

/* ========================================
    メインボタン
========================================= */


#main {
	width: 100%;
	background: rgba(35,5,5,0.30);
	position: absolute;
	top:12%;
	bottom:12%;

}

@media screen and (max-width:980px){
	#main {
		top: 115px;
		bottom: 0;
	}
}


#main-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: none;
}

#main-wrapper nav ul {
	display: flex;
	justify-content:space-around;
	text-align: center;
	text-shadow: #333 0 0 10px;
	
}



/* ボタン設定 */
#main-wrapper nav li span{
	display: inline-block;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 290px;
	height: 290px;
	font-size: 44px;
	line-height: 40px;
	color: #fff;
	font-family: 'Paytone One', sans-serif;
	transition: 0.2s ease-out;
}

#main-wrapper nav li span:hover {
	cursor: pointer;
	background: rgba(255,161,108,0.30);
}

#main-wrapper nav li span.icon-1 {
	position: absolute;
	top:30px;
	margin-left: auto;
}

#main-wrapper nav li span.icon-2 {
	position: absolute;
	top:30px;
	margin-right: auto;
	margin-left: 44px;
}

#main-wrapper nav li span.icon-3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 36vh;
	margin: auto;
}

#main-wrapper nav ul li span i {
	display: block;
	font-size: 140px;
	color: #FFF;
	padding-top:40px;
}

@media screen and (max-height:750px){	
		#main-wrapper nav li span{
		width: 200px;
		height: 200px;
		font-size: 32px;
		line-height: 30px;
	}
		#main-wrapper nav ul li span i {
		font-size: 80px;
		color: #FFF;
		padding-top: 30px;
	}
		#main-wrapper nav li span.icon-1 {
		top:50px;
		left: 25%;
		right: 55%;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-2 {
		top:50px;
		left: 55%;
		right: 25%;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-3 {
		bottom: 40px;
	}

}

@media screen and (max-height:520px){
		#main-wrapper nav li span.icon-1 {
		left: 10%;
	}
		#main-wrapper nav li span.icon-2 {
		right: 10%;
	}
}


@media screen and (max-width:790px){	
		#main-wrapper nav li span{
		width: 180px;
		height: 180px;
		font-size: 32px;
		line-height: 28px;
	}
		#main-wrapper nav ul li span i {
		font-size: 80px;
		color: #FFF;
		padding-top: 26px;
	}
		#main-wrapper nav li span.icon-1 {
		top: 5%;
		left: 20px;
		right: 175px;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-2 {
		top: 30%;
		left: 175px;
		right: 20px;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-3 {	
		top: 55%;
		left: 20px;
		right: 175px;
		margin: 0 auto;
	}

}

@media screen and (max-width:350px){
		#main-wrapper nav li span{
		width: 120px;
		height: 120px;
		font-size: 6vw;
		line-height: 3vh;
	}

	#main-wrapper nav ul li span i {
		font-size: 8vh;
		color: #FFF;
		padding-top: 18px;
	}

	#main-wrapper nav li span.icon-1 {
		top: 5%;
		left: 15vw;
		right: 175px;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-2 {
		top: 30%;
		left: 40vw;
		right: 20px;
		margin: 0 auto;
	}

		#main-wrapper nav li span.icon-3 {	
		top: 55%;
		left: 15vw;
		right: 175px;
		margin: 0 auto;
	}
}

/* ========================================
    アニメーション(ページ切り替え)
========================================= */

/* #contents—p */

.showdown {
	-webkit-transform: scale(0);
  	transform: scale(0);
}

.showup {
	-webkit-transform: scale(1);
  	transform: scale(1);
}

.font-deco {
	color: orange;
	border-bottom: 2px solid orange;
}

@media screen and (max-width:980px) {
		.font-deco {
		color: #fff;
		border-bottom: 0;
	}
}

/* ========================================
    装飾(右上)
========================================= */
#im {
	background: rgba(0,0,0,0.30);
	display: inline-block;
	width: 300px;
	border-radius: 20px 0 0 0px;
	padding-bottom: 5px;
	position: absolute;
	right: 0;
	top: -38px;
}

@media screen and (max-width:980px){
	#im {
		width: 200px;
		font-size: 1.2em ;
		top: -30px;
		padding-top: 5px;
	}
}
/* ========================================
    プロフィール
========================================= */

#profile {
	width: 100%;
	margin: 20vh auto 0;
	transition: 0.3s ease-in-out;
	color: #fff;
}

#profile-container {
	max-width: 800px;
	margin: 0 auto;
	font-family: 'Paytone One', sans-serif;
	text-shadow: 0 0 5px #000,0 0 5px #000;
	dl {
		display: flex;
		margin: 0 10px;
		dt {
			margin-right: 10px;
			span {
				display: inline-block;
				width: 140px;
				height: 140px;
				font-size: 16px;
				border-radius: 50%;
				border: 1px solid #ccc;
				line-height: 140px;
				text-align: center;
			}
			img {
				border-radius: 50%;
			}
		}
		dd#profile-top ul li:first-child {
			font-size: 30px;
			padding-bottom: 10px;
		}
		dd#profile-top ul li:last-child {
			font-family: "游明朝", "YuGothic", "Yu Gothic", "Yu Mincho", "YuMincho", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-weight: bold;
			padding-top: 10px;
			font-size: 18px;
			line-height: 30px;
			border-top: 1px solid #ccc;
		}
	}
}

@media screen and (max-width:800px){

	#main.active-profile {
		bottom: 0;
		height: 800px;
	}

		#profile {
		margin-top: 3vh;
	}
	#profile-container dl {
		display: block;
		text-align: center;
		dt span {
			margin-top: 10px;
		}

		dd#profile-top ul {
			text-align: left;
			li:first-child {
				font-size: 5.5vw;
			}
			li:last-child {
				font-size: 3vw;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #ccc;
			}
		}

		dd#profile-bottom {
			li {
				font-size: 4vw;
				line-height: 3vh
			}
		}
	}
}

canvas {
	margin-top: 56px;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
dd#profile-bottom ul {
	display: flex;
}

dd#profile-bottom ul li {
	position: relative;
	margin-right: 5px;
}
dd#profile-bottom ul li p {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	font-size: 12px;
	text-align:center;
}

@media screen and (max-width:800px) {
	canvas {
	margin-top: 0;
	}

	dd#profile-bottom ul {
	flex-wrap: wrap;
	-webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
   margin-top: 5px;
		li p {
		top: 30px;
		}
	}
}

/* ========================================
    コンテンツ(Works)
========================================= */

#contents {
	width: 100%;
	position: absolute;
	top: 6%;
	transition: 0.3s ease-in-out;
}



#contents ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1140px;
	margin: 0 auto;
	li {
		margin-bottom: 20px;
	}
}



#contents ul img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

@media screen and (max-height:595px){
	#contents ul {
		flex-wrap: nowrap;
		justify-content: center;
		margin-top:  10vh;
	}
}

@media screen and (max-width:800px){	

	#main.active {
		bottom: 0;
		height: 1800px;
	}

	#contents {
		top: 2%;
	}
	
	#contents ul {
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	
	#contents ul li {
	padding: 0px 10px;
	}

}

/* ホバー時の文字 */


.mask-container {
	max-width: 360px;
	max-height: 260px;
	overflow: hidden;
	position: relative;
}
.mask-container .caption {
	
	text-align: left;
	color: #fff;
	span.cap-title {
		font-family: 'Paytone One', sans-serif;
		text-shadow: 0 0 2px #ddd,0 0 2px #ccc,0 0 6px #f00,;
		font-size: 24px;
		display: block;
		border-bottom: 1px solid #a99;
		margin: 40px 0 10px 30px;
		padding-bottom: 2px;
		
	}
	span.cap-description {
		font-size: 16px;
		font-family: "游明朝", "YuGothic", "Yu Gothic", "Yu Mincho", "YuMincho", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 0 0 2px #ddd,0 0 2px #ccc,0 0 4px #f00,;
		display: inline-block;
		margin: 0 20px 0 26px;
	}
}
.mask-container .mask {
	width: 100%;
	height:	90%;
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;	/* マスクを表示しない */
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	background-color: rgba(0,0,0,0.6);
	-webkit-transition:	all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.mask-container:hover .mask {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;	/* ホバーで表示する */
}


/* ========================================
    コンタクト
========================================= */

#Contact {
	max-width: 800px;
	height: auto;
	margin: 0 auto;
	padding: 10px 20px;
	border-radius: 10px;
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	transition: 0.3s ease-in-out;
	background: rgba(35,5,5,0.30);
	text-align: center;
	font-family: 'Paytone One', sans-serif;
}

@media screen and (max-width:800px) {
	#Contact {
		margin: 0 20px;
		
	}
}

p#contact-title {
	font-size: 30px;
	color: #fff;
	text-shadow: 0 0 5px #000,0 0 5px #000;
	i {
		font-size: 36px;
		vertical-align: -8px;
		margin-right: 4px;
	}
}

div#contact-container {
	color: #fff;
	font-size: 20px;
	dt {
		margin-top: 16px;
		text-shadow: 0 0 5px #000,0 0 5px #000;
	}
	dd input {
		color: #fff;
		margin-top: 8px;
		background: rgba(255,255,255,0.1);
		border-radius: 5px;
		outline: none;
		min-width: 20vw;
		max-width: 60vw;
		@media screen and (max-width:800px){
			min-width: 30vw;
		}
	}
	dd textarea {
		margin-top: 8px;
		background: rgba(255,255,255,0.1);
		border-radius: 10px;
		color: #fff;
		padding: 5px;
		outline: none;
		min-width: 40vw;
		min-height: 12vh;
		max-width: 60vw;
		max-height: 16vh;
	@media screen and (max-width:800px) {
		min-width: 50vw;
	}
		}
	p input {
		margin-top: 22px;
		margin-bottom: 15px;
		background: rgba(255,255,255,0.1);
		color: #fff;
		border-radius: 50%;
		padding: 10px 20px;
		font-size: 20px;
		font-family: 'Paytone One', sans-serif;
		box-shadow: 3px 5px rgba(35,5,5,0.30);
		text-shadow: 0 0 5px #000,0 0 5px #000;
	}
	p input:active {
		margin-top: 25px;
		margin-left: 5px;
		margin-bottom: 12px;
		box-shadow: none;
		outline: none;
	}
}


