.linkwaku101 a{
	color: #FFF;
	width: 30%;
	text-align: center;
	background-color: #532901;
	display: block;
	margin: 0 auto;
	font-size: 2em;
	padding:15px;
	text-decoration: none;
}
.linkwaku101 a:hover{
	border: 1px solid #999;
	background-color: #FFF;
	color: #532901;
}
.linkwaku111 a{
	color: #FFF;
	width: 85%;
	text-align: center;
	background-color: #532901;
	display: block;
	margin: 20px auto 0 auto;
	font-size: 1.4em;
	padding:15px;
	text-decoration: none;
}
.linkwaku111 a:hover{
	border: 1px solid #999;
	background-color: #FFF;
	color: #532901;
}

/* ページレイアウト ---------------------------------------*/
.bgimg{
	background-image: url(../img/bg02.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.contentsBody {margin: 0 0;}


@media screen and (max-width: 1020px) {
	.contentsBody {	margin: 0 20px;	}
	.contentsBody.fll {
		margin: 0;
		padding: 0 20px;
		background: url(../images/line_x_01.gif) repeat-x left top, url(../images/bg2.gif) repeat left top;
	}
}

@media screen and (max-width: 750px) {
	.contentsBody.min {	margin: 0;	}
	.contentsBody.middle {	margin: 0 5px;	}
	.contentsBody {	margin: 0 10px;	}
}

.pankuzu01 a{
	padding:5px 10px;
	background-color: #999;
	color: #FFF;
	text-decoration: none;
}
.pankuzu01 a:hover{background-color: #333;}
.pankuzu01 li{list-style-type: none;}

/* 店舗・販売店 ---------------------------------------*/
.ctwaku{
	width: 95%;
	margin: 0 auto;
	font-size: 1.4em;
	line-height: 130%;
}
.ctwakuLi{
	width: 100%;
	margin: 0 auto 10px auto;
}
.ctwakuRi{
	width: 100%;
	margin: 10px auto;

}
.ctwaku h2{
	color: #FFF;
	font-size: 1.7em;
	background-color: #891c1c;
	text-align:center;
	clear: both;
	padding: 10px 15px;
	margin:20px 0;
}
.ctwaku h3{
	color: #891c1c;
	font-weight:bold;
	border-bottom: 1px dotted #891c1c;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}
.ctwaku h4{
	font-size: 1.4em;
	width: 60%;
	clear: both;
	color: #FFF;
	padding: 10px 15px;
	margin: 10px auto 10px auto;
	text-align:center;
	font-weight: bold;
	background-color: #666;
}
.ctwaku ul{
	float: left;
	width: 30%;
	margin: 0 0 10px 10px;
	padding: 10px;
	color:#595959;
	border: 1px dotted #666;
	background-color: #F6F6F6;
}

.ctwaku li{	list-style-type: none;}
@media screen and (max-width: 1100px) {
	.ctwaku ul{
	float: left;
	width: 45.5%;
	margin:10px 5px 0 5px;
	}
	.ctwaku ul{
	float: left;
	width: 93%;
	margin: 0 0 10px 0.5%;
	padding: 10px;
	color:#595959;
	border: 1px dotted #666;
	background-color: #F6F6F6;
}
}



@media screen and (max-width: 750px) {
	.ctwaku ul{
	float: left;
	width: 92%;
	margin: 5px auto;
	}
	.ctwaku li{
	padding:0 3% 0 3%;
	list-style-type: none;
	}
	.ctwaku h3{font-size: 1em;}
	
	.ctwakuLi{
	width: 90%;
	margin: 10px auto;
	}
	.ctwakuRi{
	width: 100%;
	margin: 10px 0;
	}
	/* 改行 ------*/
	.kaigyo{display:block;}
}

/* のしページ ---------------------------------------*/
.both{clear: both;}
.left200{
	float: left;
	width: 200px;
	margin-bottom: 30px;
}

.right600{
	float: right;
	width: 600px;
}
.right600 h2, .noshiwaku h2{
	color: #891c1c;
	font-weight:bold;
	border-bottom: 4px double #891c1c;
	text-indent: 2%;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 2.2em;
}
.right600 p{
	font-size: 1.2em;
	line-height: 130%;
	clear: both;
	margin: 20px 0 30px 0;
	padding: 10px;
	border: 2px dotted #999;
}

.right140{
	float: right;
	width: 140px;
	text-align:center;
	margin-left:10px;
	margin-bottom: 20px;
}
.right140 h3{
	color: #891c1c;
	font-size: 1.3em;
	padding:10px;
	font-weight:bold;
}
.right140 li{
	font-size: 1.3em;
	line-height:130%;
}

.noshiwaku table{
	width: 100%;
	font-size: 1.3em;
	border: 1px solid #CCC;
	margin-bottom:50px;
}
.noshiwaku th{
	font-size: 1.2em;
	line-height:150%;
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #EBEBEB;
	text-align: center;
}
.noshiwaku td{
	vertical-align: center;
	padding: 5px 10px;
	vertical-align: middle;
	border: 1px dotted #CCC;
	line-height:130%;
}

@media screen and (max-width: 1020px) {
	.right600{width: 65%;}
	
.right600 p{
	font-size: 1.3em;
	line-height: 130%;
	clear: both;
	margin: 10px 0;
	padding: 10px;
}
	.right140{
	width: 47%;
	float: right;
	text-align:center;
	margin-bottom: 10px;
	}
}

@media (max-width:480px) {
	.spNone02 { display: none;}/*非表示*/
	.right600{width: 100%;}
	.right600 h2{
	color: #891c1c;
	font-weight:bold;
	border-bottom: 4px double #891c1c;
	margin: 20px 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 1.8em;
}
	.right140{
	width: 100%;
	float: right;
	text-align:center;
	margin-bottom: 10px;
	}
}

/* イベント・観光スポット　レイアウト ---------------------------------------*/

.iventleft{
	float: left;
	width: 30%;
}
iventleft td{font-size: 1.7em; line-height:150%;}
.iventright{
	float: right;
	width: 67%;
}
.hakatasum table{
	width: 100%;
	margin: 30px auto;
	border: 1px solid #CCC;
}
.hakatasum th{
	padding:5px 15px;
	border: 1px dotted #CCC;
	background-color: #EBEBEB;
}
.hakatasum td{
	padding:5px 15px;
	border: 1px dotted #CCC;
}

@media (max-width:750px) {
	.iventleft{	width: 100%;}
	.iventright{width: 100%;}
}

/* 博多イベント情報 ---------------------------------------*/

.hakataivent{
	width: 80%;
	margin: 0 auto;
}
.hakataivent h2{
	color: #FFF;
	font-size: 2em;
	background-color: #891c1c;
	text-align:center;
	clear: both;
	padding: 10px 15px;
	margin:20px 0;
}
.hakataivent h3{
	color: #891c1c;
	font-weight:bold;
	border-bottom: 1px dotted #891c1c;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}
@media (max-width:750px) {
	.hakataivent h2{
	color: #FFF;
	font-size: 1.5em;
	background-color: #891c1c;
	text-align:center;
	clear: both;
	padding: 10px 15px;
	margin:20px 0 0 0;
	}
	.hakataivent h3{
	color: #891c1c;
	font-weight:bold;
	border-bottom: 1px dotted #891c1c;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	}
}

/* 観光スポット ---------------------------------------*/
.depth-1{}
.depth-1 li{
	font-size:1.2em;
	list-style-type: none;
	margin-bottom:10px;
}
.depth-1 li a{
	background-color: #F0F0F0;
	border: 1px solid #CCC;
	display: block;
	text-decoration: none;
	padding:15px;
	font-weight: bold;
}
.depth-1 li a:hover{
	color: #FFF;
	background-color: #891C1C;
}
@media (max-width:750px) {
	.depth-1 li{
	font-size:1.2em;
	list-style-type: none;
	display: inline;
	float: left;
	}
	.depth-1 li a{
	background-color: #F0F0F0;
	border: 1px solid #CCC;
	display: block;
	text-decoration: none;
	padding:15px 6px 15px 6px;
	font-weight: bold;
	}
}

/* 項目デコレーション ---------------------------------------*/
/*ブログウィジェット*/
.widget-blog-calendar-3 table, .widget-blog-calendar-4 table{
	width: 100%;
	border: 1px solid #CCC;
	font-size: 1.4em;
}

.widget-blog-calendar-3 th, .widget-blog-calendar-3 td,
.widget-blog-calendar-4 th, .widget-blog-calendar-4 td{padding:7px; border: 1px solid #CCC; text-align:center;}

.widget-blog-calendar-3 th,
.widget-blog-calendar-4 th{	background-color: #EBEBEB;}
.sunday{color: #891c1c;}
.saturday{color: #36F;}

.widget-blog-monthly-archives-3 ul,
.widget-blog-monthly-archives-4 ul{font-size: 1.4em; margin-bottom:10px;}

.widget-blog-monthly-archives-3 li,
.widget-blog-monthly-archives-4 li{
	padding: 10px;
	border: 1px dotted #666;
	list-style-type: none;
	text-decoration: none;
}
#post-detail{font-size: 1.4em; line-height:150%; margin:0 0 20px 0;}

.bloglist{
	font-size: 1.4em;
	line-height:140%;
	padding: 15px 15px 0 15px;
	border: 1px solid #CCC;
	margin-bottom:10px;
}
.bloglist h4{font-size: 1.4em; font-weight:bold; line-height:180%;}
.bloglist h4 a{	text-decoration: none;}
.bloglist li{list-style-type: none;}
.bloglist01{
	float: left;
	width: 150px;
}
.bloglist01 img{width: 100%;}
.bloglist02{
	float: right;
	width: 70%;
}
.bloglist more{
	font-size:12px;
	float: right;
	border: 1px dotted #999;
	background-color: #EBEBEB;
	padding: 2px 15px;
	margin: 20px 0 0 0;
}
@media screen and (max-width: 1020px) {
	.bloglist01{
	float: left;
	width: 150px;
	}
	.bloglist02{
	float: right;
	width: 60%;
	}
}
@media (max-width:750px) {
	.bloglist{
		font-size: 1.4em;
		line-height:140%;
		padding: 15px 15px 0 15px;
		border: 1px solid #CCC;
		border-radius: 10px;      /* 角丸の指定 */
		margin:10px 0;
	}
	.bloglist01{
		width: 100%;
		text-align:center;
	}
	.bloglist02{width: 100%;}
	.bloglist02 h4{ text-align:center; border:#999 dotted 1px; margin-top:5px;}
	.bloglist02 p{ font-size:1.1em; line-height:130%;}
}