@charset "UTF-8";
/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, textarea {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

a:focus {
  outline: none; }

/* ========================================
    全体設定
========================================= */
body {
  color: #fff;
  background-image: url("image/background.jpg");
  background-attachment: fixed;
  font-size: 14px;
  line-height: 1.4em;
  font-family: "游明朝", "YuGothic", "Yu Gothic", "Yu Mincho", "YuMincho", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.imgsize {
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  text-decoration: none; }
  a img {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* ========================================
    ハンバーガーメニュー & ページトップボタン
========================================= */
#hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 70px;
  padding: 10px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1); }
  #hamburger-menu:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 5px #999);
    -moz-filter: drop-shadow(0px 0px 5px #999);
    -o-filter: drop-shadow(0px 0px 5px #999);
    -ms-filter: drop-shadow(0px 0px 5px #999);
    filter: drop-shadow(0px 0px 5px #999); }
  #hamburger-menu span {
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #fff;
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #hamburger-menu span:nth-of-type(1) {
      top: 13px; }
    #hamburger-menu span:nth-of-type(2) {
      top: 33px; }
    #hamburger-menu span:nth-of-type(3) {
      top: 53px; }

@media screen and (max-width: 640px) {
  #hamburger-menu {
    top: 10px;
    right: 10px; } }

#hamburger-menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  -ms-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg); }

#hamburger-menu.active span:nth-of-type(2) {
  opacity: 0; }

#hamburger-menu.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  -ms-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg); }

#hamburger-menu::after {
  position: absolute;
  left: 0;
  bottom: 6px;
  content: 'MENU';
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#hamburger-menu.active::after {
  content: 'CLOSE'; }

/* ナビ設定 */
header nav {
  display: none;
  position: fixed;
  width: 220px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  padding: 150px 50px 0 20px;
  margin: 0 auto; }
  header nav li {
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
    header nav li:last-child {
      margin-top: 30px; }
    header nav li:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(0px 0px 5px #fff);
      -moz-filter: drop-shadow(0px 0px 5px #fff);
      -o-filter: drop-shadow(0px 0px 5px #fff);
      -ms-filter: drop-shadow(0px 0px 5px #fff);
      filter: drop-shadow(0px 0px 5px #fff); }
    header nav li p {
      width: 180px;
      padding-top: 15px;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      text-shadow: 0 0 5px #000; }
      header nav li p span {
        display: block;
        font-size: 20px; }

header nav.open {
  display: block; }

/* ページトップボタン */
#page-top {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  z-index: 9999;
  -webkit-filter: drop-shadow(0px 0px 2px #aaa);
  -moz-filter: drop-shadow(0px 0px 2px #aaa);
  -o-filter: drop-shadow(0px 0px 2px #aaa);
  -ms-filter: drop-shadow(0px 0px 2px #aaa);
  filter: drop-shadow(0px 0px 2px #aaa); }
  #page-top:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 4px #ccc);
    -moz-filter: drop-shadow(0px 0px 4px #ccc);
    -o-filter: drop-shadow(0px 0px 4px #ccc);
    -ms-filter: drop-shadow(0px 0px 4px #ccc);
    filter: drop-shadow(0px 0px 4px #ccc); }
  #page-top span {
    position: absolute;
    bottom: -30px;
    left: 6px; }

/* ========================================
    ヘッダー
========================================= */
#logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000; }

/* ========================================
    コンテンツ
========================================= */
#contents-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4); }
  #contents-container div {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px; }
    #contents-container div:first-child {
      margin-left: 30px; }
    #contents-container div:last-child {
      margin-right: 30px; }
    #contents-container div img {
      border-radius: 50%; }
      #contents-container div img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

#contents-a img {
  background-color: rgba(255, 251, 231, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#contents-b img {
  background-color: rgba(255, 251, 231, 0.7);
  border: 15px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 640px) {
  #contents-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contents-container div {
      margin: 40px 0 0; }
      #contents-container div:first-child {
        margin-left: 0; }
      #contents-container div:last-child {
        margin-right: 0;
        margin-bottom: 40px; }
  #contents-b img {
    border: 2.5vw solid #000; } }

/* ========================================
    各タイトル@extend
========================================= */
#catalog-title, #price-title, #news-title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin: 0 auto;
  padding: 10px 0; }
  #catalog-title h2, #price-title h2, #news-title h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 45px;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 0 0 5px #000; }
    #catalog-title h2 span, #price-title h2 span, #news-title h2 span {
      display: block;
      font-size: 20px; }

@media screen and (max-width: 640px) {
  #catalog-title h2, #price-title h2, #news-title h2 {
    padding-top: 1.5vw;
    font-size: 4.5vw;
    line-height: 4vw;
    text-shadow: 0 0 0.5vw #000; }
    #catalog-title h2 span, #price-title h2 span, #news-title h2 span {
      font-size: 2vw; } }

/* ========================================
    カタログ
========================================= */
#catalog {
  background-color: #fff; }
  #catalog div div img {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    #catalog div div img:hover {
      opacity: 0.8;
      cursor: pointer; }

/* ========================================
    料金表
========================================= */
#price {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 251, 231, 0.9);
  color: #282828;
  font-size: 28px;
  font-weight: 900;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 30px;
  border-right: 8px dashed rgba(0, 0, 0, 0.9);
  border-left: 8px dashed rgba(0, 0, 0, 0.9); }
  #price dl {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #price dl dt {
      margin-right: 50px; }
      #price dl dt ul li {
        margin-bottom: 20px; }
    #price dl dd ul li {
      margin-bottom: 20px; }

@media screen and (max-width: 640px) {
  #price {
    font-size: 5vw;
    line-height: 5vw; } }

/* マーカー設定 */
span.marker-ylw {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(75%, #ffffb7));
  background: -webkit-linear-gradient(transparent 75%, #ffffb7 75%);
  background: -o-linear-gradient(transparent 75%, #ffffb7 75%);
  background: linear-gradient(transparent 75%, #ffffb7 75%); }

span.marker-red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(75%, #ffadad));
  background: -webkit-linear-gradient(transparent 75%, #ffadad 75%);
  background: -o-linear-gradient(transparent 75%, #ffadad 75%);
  background: linear-gradient(transparent 75%, #ffadad 75%); }

span.marker-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(75%, #66ccff));
  background: -webkit-linear-gradient(transparent 75%, #66ccff 75%);
  background: -o-linear-gradient(transparent 75%, #66ccff 75%);
  background: linear-gradient(transparent 75%, #66ccff 75%); }

/* ========================================
    ニュース
========================================= */
#news {
  width: 100%;
  background-color: #fffbe7;
  color: #000;
  padding: 30px 0; }
  #news #news-container {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #news #news-container dl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 5px 5px; }
    #news #news-container dd ul li:first-child {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      padding: 10px; }
    #news #news-container dd ul li:last-child {
      font-size: 16px;
      line-height: 16px;
      padding: 10px; }

@media screen and (max-width: 640px) {
  #news #news-container dl dd ul li:first-child {
    font-size: 3.5vw;
    line-height: 2vw;
    padding: 1vw; }
  #news #news-container dl dd ul li:last-child {
    font-size: 2.5vw;
    line-height: 3vw;
    padding: 1vw; } }

/* ========================================
    フッター
========================================= */
footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  padding: 20px 5px; }
  footer #about-us {
    max-width: 1000px;
    margin: 0 auto; }

div#sns {
  width: 100%;
  margin: 0 auto 10px; }
  div#sns img {
    margin-right: 10px; }
    div#sns img:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  div#sns p {
    color: #fff;
    margin-top: 30px; }

@media screen and (max-width: 640px) {
  div#sns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    div#sns img {
      width: 100%;
      max-width: 50px; } }

#footer-logo img {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  #footer-logo img:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #a00);
    -moz-filter: drop-shadow(0px 0px 5px #a00);
    -o-filter: drop-shadow(0px 0px 5px #a00);
    -ms-filter: drop-shadow(0px 0px 5px #a00);
    filter: drop-shadow(0px 0px 5px #a00);
    cursor: pointer; }
