@charset "UTF-8";
/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, textarea {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

a:focus {
  outline: none; }

/* ========================================
    全体設定
========================================= */
body {
  color: #000;
  background-image: url("image/wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14px;
  line-height: 1.4em;
  font-family: "游明朝", "YuGothic", "Yu Gothic", "Yu Mincho", "YuMincho", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #474747;
  text-decoration: none; }
  a img {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    a img:hover {
      -webkit-filter: drop-shadow(0px 0px 5px #777);
      -moz-filter: drop-shadow(0px 0px 5px #777);
      -o-filter: drop-shadow(0px 0px 5px #777);
      -ms-filter: drop-shadow(0px 0px 5px #777);
      filter: drop-shadow(0px 0px 5px #777); }

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* ========================================
    変数
========================================= */
/* ========================================
    共通設定
========================================= */
/* ========================================
    ヘッダー
========================================= */
header {
  width: 100%;
  background-color: #000; }
  header #head-wrapper {
    background-color: #000;
    background-image: url(image/top_04.png);
    background-position: top;
    background-repeat: no-repeat;
    height: 1400px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    header #head-wrapper #sns-logo {
      position: absolute;
      right: 30px;
      top: 30px; }
      header #head-wrapper #sns-logo img {
        margin-right: 10px; }
    header #head-wrapper #head-image {
      padding: 30px 0 100px 30px; }
    header #head-wrapper #head-menu {
      padding-left: 30px; }
      header #head-wrapper #head-menu img {
        margin-bottom: 10px;
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
        header #head-wrapper #head-menu img:hover {
          cursor: pointer;
          -webkit-filter: drop-shadow(0px 0px 5px #777);
          -moz-filter: drop-shadow(0px 0px 5px #777);
          -o-filter: drop-shadow(0px 0px 5px #777);
          -ms-filter: drop-shadow(0px 0px 5px #777);
          filter: drop-shadow(0px 0px 5px #777); }

/* ========================================
    メニュー
========================================= */
#main-menu {
  max-width: 1200px;
  color: #fff;
  margin: 0 auto; }
  #main-menu h2 {
    text-align: center;
    padding: 40px 0;
    font-size: 75px;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 0 0 5px #000; }
    #main-menu h2 span {
      display: block;
      font-size: 24px; }
  #main-menu div p.radius {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    background-color: rgba(204, 142, 59, 0.7);
    border-radius: 50%;
    width: 300px;
    height: 250px;
    padding-top: 50px; }
  #main-menu div span {
    font-size: 60px; }
  #main-menu div span.yen {
    font-size: 30px;
    line-height: 50px;
    text-decoration: underline; }
  #main-menu #main-a {
    height: 560px;
    position: relative; }
    #main-menu #main-a img {
      position: absolute;
      left: 0; }
    #main-menu #main-a p {
      position: absolute;
      left: 750px;
      top: 30px; }
    #main-menu #main-a .reccomend {
      position: absolute;
      left: 770px;
      bottom: 120px;
      font-size: 28px;
      font-weight: bold;
      text-shadow: 0 0 5px #000;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(201, 0, 0, 0.5);
      padding-top: 30px;
      width: 130px;
      height: 100px; }
  #main-menu #main-b {
    height: 560px;
    position: relative; }
    #main-menu #main-b img {
      position: absolute;
      right: 0; }
    #main-menu #main-b p {
      position: absolute;
      right: 750px;
      top: 30px; }
    #main-menu #main-b span.long-text {
      font-size: 50px; }
  #main-menu #main-c {
    height: 560px;
    position: relative; }
    #main-menu #main-c img {
      position: absolute;
      left: 0; }
    #main-menu #main-c p {
      position: absolute;
      left: 750px;
      top: 30px; }

/* ========================================
    サイドメニュー
========================================= */
#side-a dl, #side-b dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #000; }
  #side-a dl div:nth-child(2), #side-b dl div:nth-child(2) {
    padding: 0 30px; }
  #side-a dl dd p.yen, #side-b dl dd p.yen {
    text-decoration: underline;
    font-size: 24px; }

/* ========================================
    ドリンク
========================================= */
#drink {
  font-size: 36px;
  line-height: 40px;
  text-shadow: 0 0 5px #000;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #drink ul:first-child {
    margin-right: 30px; }

p#tax {
  text-align: center;
  font-size: 20px;
  margin: 60px auto 200px;
  text-shadow: 0 0 5px #000; }

/* ========================================
    こだわり
========================================= */
#policy-title {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 10px 0; }
  #policy-title h2 {
    text-align: center;
    padding: 30px 0 0;
    font-size: 75px;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 0 0 5px #000; }
    #policy-title h2 span {
      display: block;
      font-size: 24px; }

#policy {
  color: #fff; }

#policy-a {
  height: 600px;
  background-image: url(image/commit_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative; }
  #policy-a div.policy-text-background {
    width: 900px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    position: absolute;
    top: 100px;
    left: 0; }
    #policy-a div.policy-text-background h3 {
      font-size: 60px;
      text-shadow: 0 0 10px #555;
      margin-top: 60px;
      margin-bottom: 30px;
      letter-spacing: -2px; }
    #policy-a div.policy-text-background p {
      font-size: 24px;
      line-height: 36px;
      text-shadow: 0 0 5px #000;
      margin-left: 5px;
      margin-bottom: 40px;
      letter-spacing: -2px; }

#policy-b {
  height: 600px;
  background-image: url(image/commit_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative; }
  #policy-b div.policy-text-background {
    width: 900px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    position: absolute;
    top: 100px;
    right: 0; }
    #policy-b div.policy-text-background h3 {
      font-size: 60px;
      text-shadow: 0 0 10px #555;
      margin-top: 60px;
      margin-bottom: 30px;
      letter-spacing: -2px; }
    #policy-b div.policy-text-background p {
      font-size: 24px;
      line-height: 36px;
      text-shadow: 0 0 5px #000;
      margin-left: 5px;
      margin-bottom: 40px;
      letter-spacing: -2px; }

#policy-c {
  height: 600px;
  background-image: url(image/commit_03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative; }
  #policy-c div.policy-text-background {
    width: 900px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    position: absolute;
    top: 100px;
    left: 0; }
    #policy-c div.policy-text-background h3 {
      font-size: 60px;
      text-shadow: 0 0 10px #555;
      margin-top: 60px;
      margin-bottom: 30px;
      letter-spacing: -8px; }
    #policy-c div.policy-text-background p {
      font-size: 24px;
      line-height: 36px;
      text-shadow: 0 0 5px #000;
      margin-left: 5px;
      margin-bottom: 40px;
      letter-spacing: -2px; }

/* ========================================
    アクセス
========================================= */
#access-title {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 10px 0; }
  #access-title h2 {
    text-align: center;
    padding: 30px 0 0;
    font-size: 75px;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 0 0 5px #000; }
    #access-title h2 span {
      display: block;
      font-size: 24px; }

#access {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  height: 550px;
  text-align: left;
  background-image: url(image/access_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #access div ul {
    margin-bottom: 40px; }
    #access div ul:first-child {
      margin-top: 40px; }
  #access #access-left ul li:first-child {
    margin-bottom: 10px; }
  #access #access-right {
    margin-left: 100px; }
    #access #access-right iframe {
      margin-top: 30px; }

/* ========================================
    フッター
========================================= */
footer {
  background-color: #000;
  text-align: center;
  padding-bottom: 30px; }
  footer img {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    footer img:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(0px 0px 5px #777);
      -moz-filter: drop-shadow(0px 0px 5px #777);
      -o-filter: drop-shadow(0px 0px 5px #777);
      -ms-filter: drop-shadow(0px 0px 5px #777);
      filter: drop-shadow(0px 0px 5px #777); }
  footer div#sns-footer-logo img#sns-center {
    margin: 0 10px; }
  footer p {
    color: #fff;
    margin-top: 30px; }
